<mat-sidenav-container fullscreen>

  <mat-toolbar color="primary">

    <div class="toolbar-tools">

        <a mat-button class="menu-item"
          routerLink = "/recipes" 
          routerLinkActive = "menu-item-active"
        >Recipes</a>

        <a mat-button class="menu-item"
          routerLink = "/shopping" 
          routerLinkActive = "menu-item-active"
        >Shopping</a>

        <mat-icon matBadge={{slBadge}} matBadgeColor="warn">shopping_cart</mat-icon>
        

    </div>
  </mat-toolbar>
   <router-outlet></router-outlet>
</mat-sidenav-container>

